<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">It's hard work to collaborate on floral designs.</h2>
                <hr class="light">
                <p class="text-faded">A picture is worth a thousand words. But for custom flower orders, that picture won’t exist until the flower arrangement has already been made. Until then, clients and florists have to find other ways to communicate their artistic vision: emails, phone calls, Pinterest boards. It’s a process that takes trial and error, especially when a client doesn’t know what they want.
                </p>
                <p class="text-left">BEFORE FOXTAIL: </p>
                <img src="img/before.png" class="img-responsive" alt="">
                <p class="text-faded">
                    At Foxtail, we turn floral design ideas into visual images early on in the design process. We’re building online tools to make it easier for clients and florists to understand what an order will look like, from color palettes to shape and style.
                </p>
                <p class="text-left">WITH FOXTAIL: </p>
                <img src="img/after.png" alt="" class="img-responsive" class="center">
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
