<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Sign up for early access and the latest news!</h2>
      <script
        charset="utf-8"
        type="text/javascript"
        src="//js.hsforms.net/forms/embed/v2.js"
      ></script>
      <script>
        hbspt.forms.create({
          region: "na1",
          portalId: "46270089",
          formId: "bb54ab39-951b-423d-b141-9182e623c8fa",
        });
      </script>
      <!-- <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdlMwmnYKCdnV38eqnMgfKPfvKjcPQXslJCccPbn_vuOG8O8A/viewform"
        class="btn btn-default btn-xl wow tada"
        target="_blank"
        >Join early access waitlist</a
      > -->
    </div>
  </div>
</aside>
