<section class="bg-dark" id="booklet">
	<div class="container text-center">
		<div class="row">
			<div class="col-sm booklet-col-element">
				<div class="booklet-info">
					<h2 class="section-heading">{{ site.t.sections.booklet.title[page.lang] }}</h2>
					<hr class="primary">
					<p>{{ site.t.sections.booklet.subtitle[page.lang] }}</p>

					<div class="row justify-content-center">

						<a href="{{ site.url }}/rsc/{{ site.t.sections.booklet.link_sd[page.lang] }}" id="email-no-uppercase" target="_blank" class="btn btn-secondary-action btn-sm">
							<span class="download-file">
								<i class="far fa-file-alt"></i>
							</span>
							SD (5 mb)
						</a>

						<a href="{{ site.url }}/rsc/{{ site.t.sections.booklet.link_hd[page.lang] }}" id="email-no-uppercase" target="_blank" class="btn btn-secondary-action btn-sm">
							<span class="download-file">
								<i class="far fa-file-alt"></i>
							</span>
							HD (22 mb)
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm booklet-col-element youtube-video">
				<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/pA96m95T3NA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>
