<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <!-- Left Side: SMU -->
      <div class="col-sm-6 text-center">
        <img src="img/Educational/SMU.png" alt="SMU Logo" style="width:100px;">
        <h3>Master of Science in Data Science</h3>
        <p>Southern Methodist University</p>
        <p>Started: August 2022 - Present</p>
      </div>
      <!-- Right Side: UCLA -->
      <div class="col-sm-6 text-center">
        <img src="img/Educational/UCLA.jpg" alt="UCLA Logo" style="width:200px;">
        <h3>Bachelor of Science in Microbiology</h3>
        <p>University of California, Los Angeles</p>
        <p>Graduated: June 2019</p>
      </div>
    </div>
  </div>
</section>
