<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Education</h2>
                <hr class="light">
                
                <!-- Row for SMU and UCLA side by side -->
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <img src="img/Educational/SMU.png" alt="SMU Logo" style="width:100px; margin-bottom: 15px;">
                        <h3>Master of Science in Data Science</h3>
                        <p>Southern Methodist University</p>
                        <p>August 2023 - Present</p>
                    </div>
                    
                    <div class="col-sm-6 text-center">
                        <img src="img/Educational/UCLA.jpg" alt="UCLA Logo" style="width:115px; margin-bottom: 15px;">
                        <h3>Bachelor of Science in Microbiology, Immunology, and Molecular Genetics</h3>
                        <p>University of California, Los Angeles</p>
                        <p>June 2017</p>
                    </div>
                </div>
                
                <!-- Row for Teach Away and Sierra College stacked vertically -->
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <!-- Teach Away -->
                        <img src="img/Educational/TA.png" alt="Teach Away Logo" style="width:150px; margin-bottom: 15px;">
                        <h3>Certified Teacher</h3>
                        <p>State of Arizona</p>
                        <p>Program: Teach Away</p>
                        <p>June 2022</p>

                        <!-- Sierra College -->
                        <img src="img/Educational/SC.png" alt="Sierra College Logo" style="width:150px; margin-top: 40px; margin-bottom: 15px;">
                        <h3>A.S. Biology</h3>
                        <h3>A.S. Environmental Science</h3>
                        <p>Sierra College</p>
                        <p>June 2014</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
