<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We do Elec here !</h2>
                <hr class="light">
                <p class="text-faded">Nos ingénieurs analysent les besoins spécifiques des projets de construction ou de rénovation pour proposer des solutions sur mesure.
                    Nous mettons un point d'honneur à améliorer la performance énergétique, en réduisant la consommation d'énergie et les émissions de gaz à effet de serre.
                    Nos ingénieurs ont une expertise en normes de sécurité électrique pour assurer la fiabilité et la sécurité des dispositifs électriques. 
                    El-En accompagne vos projets avec une approche globale et innovante.</p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
