<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>
                    Want to book us?
                </p>
                <p>
                    Represent us?
                </p>
                <p>
                    Ask us about our ideal Sunday?
                </p>
            </div>

            <div class="col-lg-2 col-lg-offset-4 text-center">
                <a target="about:blank" href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Email</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a target="about:blank" href="https://instagram.com/{{ site.instagram_username }}">
                    <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.instagram_username }}</p>
                </a>
            </div>
        </div>
</section>