<section id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">FAQ</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-dollar text-primary"></i>
                    <h3>Why is the app free?</h3>
                    <p class="text-muted">We are still building out functionality, and we want your input!</p> <br />
                    <p class="text-muted">We also believe in making technology accessible to all.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-check-square text-primary"></i>
                    <h3>Why can I only choose a limited number of flowers and palettes?</h3>
                    <p class="text-muted">Shopify currently has a maximum of 100 variants! They will soon support 2000
                        variants, and then we will be able to offer more choices as well.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-paint-brush text-primary"></i>
                    <h3>How can I add my own palettes?</h3>
                    <p class="text-muted">We plan on adding that feature in a later release. Please let us know if you
                        want this!</p>
                    <br />
                    <p class="text-muted">In the meantime, you can disconnect from the template editor and use Shopify's
                        standard editor.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-photo text-primary"></i>
                    <h3>How can I upload my own pictures?</h3>
                    <p class="text-muted">We plan on adding that feature in a later release. Please let us know if you
                        want this!</p> <br />
                    <p class="text-muted">
                        In the meantime, you can disconnect from the template editor and use Shopify's standard editor.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-question text-primary"></i>
                    <h3>Have more questions?</h3>
                    <p class="text-muted">Please <a href="mailto:foxtailcreates@gmail.com">contact us</a> and we will
                        answer as soon as possible!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>