<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{ site.t.sections.header.title[page.lang] }}</h1>
            <hr>
            <p>{{ site.t.sections.header.subtitle[page.lang] }}</p>
            <a href="#booking" class="btn btn-primary-action btn-xl page-scroll">{{ site.t.sections.header.action[page.lang] }}</a>
        </div>
    </div>

     <div class="row justify-content-md-center header-bottom-content"> 
        <div class="col-sm">
            <!-- Airbnb Reviews -->
            <script src="https://static.elfsight.com/platform/platform.js" async></script>
            <div class="elfsight-app-ff2ca763-a1b5-417e-8ffa-854cd069cbda" data-elfsight-app-lazy></div>
        </div>
        <div class="col-sm">
            <!-- Google Reviews -->
            <script src="https://static.elfsight.com/platform/platform.js" async></script>
            <div class="elfsight-app-47d7d581-73bd-4627-b79e-ebc625350b07" data-elfsight-app-lazy></div>
        </div>
    </div>
</header>
