<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>INS ingineering, a votre service! </h1>
            <hr>
            <p>INS ingineering est un bureau d'études spécialisé dans la conception de solutions électriques pour les bâtiments et les infrastructures. 
                Nos ingénieurs analysent les besoins spécifiques des projets de construction ou de rénovation pour proposer des solutions sur mesure. 
                Nous mettons un point d'honneur à améliorer la performance énergétique, en réduisant la consommation d'énergie et les émissions de gaz à effet de serre. 
                Nos ingénieurs ont une expertise en normes de sécurité électrique pour assurer la fiabilité et la sécurité des dispositifs électriques. 
                INS accompagne vos projets avec une approche globale et innovante.  </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
