<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Conception et dimensionnement</h3>
                    <p class="text-muted">Elec-E assure la conception et le dimensionnement précis de vos installations électriques. Nous rédigeons des Cahiers des Clauses Techniques Particulières (CCTP), établissons des estimations budgétaires (DPGF) et réalisons des plans détaillés incluant courants forts, courants faibles et systèmes de sécurité incendie. Des schémas d’armoires électriques et des synoptiques sont également créés pour une vue d’ensemble claire.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3 style="margin-bottom: 20px;">Étude d’exécution</h3> //<h3>Étude d’exécution</h3> ajout d'un saut de ligne  
                    <p class="text-muted">Nos études d'exécution visent l'optimisation technique et économique de vos projets. Nous fournissons des plans détaillés d’installation électrique, des schémas d’armoires, des plans de réservation et réalisons les calculs nécessaires (chutes de tension, sections de câbles, protections, etc.) conformément aux normes NF C14-100 et NF C15-100 pour garantir une mise en œuvre sans faille.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Plan d’implantation et schématique</h3>
                    <p class="text-muted">Nous élaborons des plans d’implantation pour un positionnement optimal des luminaires, chemins de câbles, alimentations électriques et équipements tels que commandes, prises, et dispositifs de sécurité. Nos schémas électriques incluent les circuits de commande, bornier et protections, accompagnés de notes de calcul justifiant les choix techniques pour assurer fiabilité et efficacité.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Notes de calcul et conformité</h3>
                    <p class="text-muted">Nos notes de calcul couvrent le dimensionnement des câbles et des protections, ainsi que l’équilibrage des phases et la sélectivité. Nous produisons des bilans de puissance et des schémas unifilaires pour garantir une conception conforme, une réalisation optimisée et une vérification rigoureuse des installations électriques.</p>
                </div>
            </div>
        </div>
    </div>
</section>
